
<section class="section contact" aria-label="contact">
    <div class="container">

        <div class="contact-card">

            <div class="contact-content">

                <div class="card-icon">
                    <img src="./images/icon-5.svg" width="44" height="44" loading="lazy"
                        alt="envelop icon">
                </div>

                <h2 class="h2 section-title">If you like my page, You will LOVE working with me.</h2>

            </div>
            <div class="contact-info card-text">

                <ul>
                    <li class="social-list">
                        <ion-icon name="at"></ion-icon>
                        <a href="mailto:mypersonal@gmail.com" class="email-link">Hajisuliman.Qaderi@ontariotechu.net</a>
                    </li>

                    <li class="social-list">
                        <ion-icon name="call"></ion-icon>
                        <a href="tel:001234567890" class="tel-link">+1 647 562 5625</a>
                    </li>

                    <li class="social-list">
                        <ion-icon name="logo-google"></ion-icon>
                        <a href="https://www.hajitech.org" class="site-link">hajitech.org</a>

                    </li>
                </ul>

            </div>

        </div>

    </div>
</section>