<body>
  
    <section class="section hero" aria-label="home">
    <div class="container">

        <figure class="hero-banner">
            <img src="./images/person.JPG" width="560" height="540" alt="Julia" class="w-100">
        </figure>

        <div class="hero-content">

            <h1 class="h1 hero-title">
                Talented Web Designer
            </h1>

            <p class="section-text">
                Hello! 
                I'm Haji Qaderi, a professional Web Developer
                with 2 years of experience with HTML5,
                CSS, JavaScript, and
                back end development. I have created over 50 websites 
                for small and medium size companies compatible with 
                both mobile and computer web browsers.
            </p>

            <div class="btn-wrapper">
                <a href="/projects" class="btn btn-primary">See My Works</a>

                <a href="/contact" class="btn btn-secondary">Contact Me</a>
            </div>

        </div>

    </div>
</section>



</body>